<mat-card class="about-card">
  <mat-card-header>
    <mat-card-avatar class="about-avatar">
      <mat-icon>info_outline</mat-icon>
    </mat-card-avatar>
    <mat-card-header-text>
      <mat-card-title>Admin About</mat-card-title>
      <mat-card-subtitle>Child 2 - About Section</mat-card-subtitle>
    </mat-card-header-text>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>article</mat-icon>
        <h4 mat-line>About This Section</h4>
        <p mat-line>This is the admin about component displaying Child 2 content with information about this section.</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>